# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCwfbsK4Hve_IqIVUNiOSAxKlbYCBYE8Vk
VITE_FIREBASE_AUTH_DOMAIN=kurdokey-d1889.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kurdokey-d1889
VITE_FIREBASE_STORAGE_BUCKET=kurdokey-d1889.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=792333169296
VITE_FIREBASE_APP_ID=1:792333169296:web:69edb6b4d658a633461e15
VITE_FIREBASE_MEASUREMENT_ID=G-7CYCVD43R9

# Socket URL (Railway URL)
VITE_SOCKET_URL=http://production-us-west2.railway-registry.com/
